{% assign lang = site.data.home[page.lang] %}
<!-- START FOOTER -->
<div class="section-footer">
  <img src="/images/undraw_best_place_r685.svg" alt="" class="above-section-img">
<footer id="footer" class="footer-5">
  <div class="footer-5-container">
    <div class="footer-5-row w-row">
      <div class="column w-col w-col-6">
        <h1 class="h4">International Express Forwarder</h1>
        <div class="div-block-2"></div><img src="/images/VIP-logo-2019_7_red_no_text.png" width="100" sizes="(max-width: 479px) 82vw, (max-width: 767px) 350px, (max-width: 991px) 44vw, 350px" srcset="/images/VIP-logo-2019_7_red_no_text-p-500.png 500w, /images/VIP-logo-2019_7_red_no_text-p-800.png 800w, /images/VIP-logo-2019_7_red_no_text-p-1080.png 1080w, /images/VIP-logo-2019_7_red_no_text-p-1600.png 1600w, /images/VIP-logo-2019_7_red_no_text-p-2000.png 2000w, /images/VIP-logo-2019_7_red_no_text-p-2600.png 2600w, /images/VIP-logo-2019_7_red_no_text-p-3200.png 3200w, /images/VIP-logo-2019_7_red_no_text.png 4374w" alt="" class="image-12"></div>
      <div class="column-16 w-col w-col-6">
        <h1 class="h5-footer">VIP Global Service s.r.o.<br>Bebravská 5034/18<br>821 07 Bratislava<br>Slovakia</h1>
        <div class="div-block-3">
          <div class="footer-text"><strong>IČO 52265790<br>VAT # SK2120993292</strong><br><a href="/{{ page.lang }}/privacy">{{ lang.privacy }}</a><strong><br></strong></div>
        </div>
      </div>
    </div>
    <div class="footer-text block"><a href="https://annafilou.com" target="_blank"><strong>Website and form designed and built by Anna Filou<br>‍</strong></a><br>Isometric icons courtesy of <a href="http://www.isometriclove.com" target="_blank">Isometric Love</a>. Flag icons by <a href="https://icons8.com/">icons8</a>. Photos by <a href="http://www.freepik.com" target="_blank">Freepik</a> and VIP Global Service s.r.o.<br>Copyright {{ site.time | date: &#x27;%Y&#x27; }} VIP Global Service s.r.o.</div>
  </div>
</footer>

<!-- END FOOTER -->